<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ibrahim MADI</title>
    <link rel="stylesheet" href="style.css" />

    <!-- import fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@next"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <header>
        <ul id="navItemsContainer">
          <li
            class="headerItems"
            v-for="item in headerItems"
            v-bind:id="item.label"
            @mouseover="MenuItemSelected(item.label)"
          >
            {{item.label}}
          </li>
        </ul>
       
      </header>
      
      <div id="main">
        <section
          id="Accueil"
          class="lside fromLeft"
          v-if="this.headerItems[0].isSelected == true || this.headerItemsAllFalse"
        >
          <h3>Bienvenue sur mon portfolio</h3>
          <p>
            Je suis Ibrahim, étudiant en informatique et futur développeur web.
          </p>
          <div id="frise">
            <div id="chronologie">
              <div class="barProgress"></div>
              <div class="circle">
                <div class="underCircle"></div>
              </div>
              <div class="bar"></div>
              <div class="circle">
                <div class="underCircle"></div>
              </div>
              <div class="bar" style="height:40px"></div>
            </div>
            <div id="event">
              <p style="font-size: 16px; margin-top: 90px; margin-bottom: 80px">
                <span style="font-size: 18px; font-weight: bold"
                  >BTS Services Informatiques aux Organisations</span
                >
                2021-2023, LGT Louis Armand, Spécialité Solution Logiciel,
                Application
              </p>
              <p style="font-size: 16px; margin-bottom: 10px">
                <span style="font-size: 18px; font-weight: bold"
                  >Baccalauréat général</span
                >
                2020-2021, Lycée Emmanuel Mounier, Spécialité Mathématique,
                Sciences Économiques et sociale, Science et Vie de la Terre
              </p>
            </div>
          </div>
          <img v-if="this.screenWidth < breakPoint1" src="./images/home.png" alt="" class="iconMenu">
        </section>
        <section
        id="Travaux"
          class="lside"
           v-if="this.headerItems[1].isSelected == true || this.screenWidth < breakPoint1"
        >
          <h1>Mes différents travaux</h1>
          <ul>
            <li v-for="item of this.mesTravaux" class="travaux" v-bind:id="'travaux' + item.id">
              <a v-bind:href="'./mesTravaux/' + item.urlTravaux">
                {{item.title}}
                <img
                  src="images/next.png"
                  style="
                    max-width: 15px;
                    position: absolute;
                    right: 20px;
                    margin-left: 20px;
                  "
              /></a>
            </li>
            <li class="travaux" v-bind:id="'travauxSeeMore'">
              <a v-bind:href="'./mesTravaux/'">
                Voir plus...
                <img
                  src="images/next.png"
                  style="
                    max-width: 15px;
                    position: absolute;
                    right: 20px;
                    margin-left: 20px;
                  "
              /></a>
            </li>
          </ul>
          <img
            v-if="this.screenWidth < breakPoint1"
            id="iconWorking"
            src="./images/working.png"
            alt="icon du menu sélectionné"
            class="iconMenu backImages"
          />
        </section>
        <section
          id="Compétences"
          class="lside competences-lside fromTop"
           v-if="this.headerItems[2].isSelected == true|| this.screenWidth < breakPoint1"
        >
        <h1>Mes compétences</h1>
          <div id="competences-container">
            <div class="list-competences-container">
                <h3 class="list-heading">Les languages web</h3>
                <ul class="compUl">
                    <li>
                    Html&Css
                    <div id="htmlcss-barlevel" class="barLevel">
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="last-barLevelQuarter barLevelQuarter"></div>
                    </div>
                    </li>
                    <li>
                    JavaScript
                    <div id="javascript-barlevel" class="barLevel">
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="last-barLevelQuarter barLevelQuarter"></div>
                    </div>
                    </li>
                    <li>
                      PHP
                      <div id="php-barlevel" class="barLevel">
                          <div class="barLevelQuarter"></div>
                          <div class="barLevelQuarter"></div>
                          <div class="barLevelQuarter"></div>
                          <div class="last-barLevelQuarter barLevelQuarter"></div>
                      </div>
                      </li>
                </ul>
            </div>
            <div class="list-competences-container">
                <h3 class="list-heading">Les frameworks</h3>
                <ul class="compUl">
                    <li>
                    VueJs
                    <div id="vueJs-barlevel" class="barLevel">
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="last-barLevelQuarter barLevelQuarter"></div>
                    </div>
                    </li>
                    <li>
                    JQuery
                    <div id="jQuery-barlevel" class="barLevel">
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="barLevelQuarter"></div>
                        <div class="last-barLevelQuarter barLevelQuarter"></div>
                    </div>
                    </li>
                </ul>
            </div>
            <div class="list-competences-container">
                <h4 class="list-heading">Autres compétences :</h4>
                <ul>
                    <li>GIT</li>
                    <li>Python</li>
                    <li>Wordpress (Divi)</li>
                    <li>C#</li>
                    <li id="write-bar">|</li>
                </ul>
                <img
                v-if="this.screenWidth < breakPoint1"
                src="./images/skills.png"
                alt="icon du menu sélectionné"
                class="iconMenu backImages"
                id="iconSkills"
              />
            </div>
          </div>
        </section>

        <section
        id="Veille"
          class="lside"
          v-if="this.headerItems[3].isSelected || this.screenWidth < breakPoint1"
        >
          <h1>Mes veilles technologiques</h1>
          <ul>
            <li v-for="veille in this.veilles" class="travaux" v-bind:id="'veille' + veille.id"><a v-bind:href="'subPages.php?fileToRead=' + veille.name">{{veille.name.replaceAll('.md', '')}}<span style="font-size:.5em;">{{veille.lastModif}}</span></a></li>
            <li class="travaux" v-bind:id="'veille' + veilles.length">
              <a href="./subPages.php">Voir tout..</a>
            </li>
          </ul>
          <img
            v-if="this.screenWidth < breakPoint1"
            src="./images/la-technologie.png"
            alt="icon du menu sélectionné"
            class="iconMenu backImages"
          />
        </section>

        <section
          id="Contact"
          class="lside"
          v-if="this.headerItems[4].isSelected == true|| this.screenWidth < breakPoint1"
        >
          <h1 v-if="screenWidth > 450" >Mes Contacts</h1>
          <div id="contactContainer">
            <div id="listingSocialMedia">
              <ul id="socialMedia_list">
                <li v-for="socialMedia in socialMedias" v-bind:id="'socialMedia' + socialMedia.id" class="socialMedias">
                  <a v-bind:href="socialMedia.url" class="socialMediaLink">
                    <img v-bind:src="'images/' + socialMedia.iconUrl" alt="" width="120" class="socialMediaIcon">
                    {{socialMedia.label}}
                  </a>
                  
                </li>
              </ul>
            </div>
          </div>
          
        </section>
        
        <img v-if="this.screenWidth > breakPoint1" src="images/home.png" alt="icon du menu sélectionné" id="img0" class="backImages iconMenu">
      </div>
  </div>
  <script src="./vueApp.js"></script>
  </body>
  
</html>

