@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700;900&display=swap");

body {
  background: #e2e2e2;
  padding-top: 15vh;
  transition-duration: 1s;
  overflow: hidden;
}
#app {
  margin: 0;
  transition-duration: 0.3s;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
}
a {
  color: black;
  text-decoration: none;
}

p {
  font-family: "Figtree", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Figtree", sans-serif;
}
li {
  font-family: "Figtree", sans-serif;
}
.headerItems > a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
  list-style: none;
  position: relative;
}
header {
  z-index: 99;
  margin: auto;
  position: fixed;
  top: 7vh;
  left: 10vw;
  width: 70%;
}
#navItemsContainer {
  width: 100%;
  display: flex;
}
.headerItems{
  font-size: 20px;
}
.navItemsContainer > li {
  margin-right: 7%;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("images/fleur.jpg"); */
}
#contact-li {
  margin-right: 0 !important;
}
#navItemsContainer > li > a::before {
  width: 0px;
  transition-duration: 0.2s;
  content: "";
  display: inline-block;
  position: absolute;
  height: 10px;
  top: 20px;
  z-index: -1;
}
a:hover::before {
  width: 2rem;
  background-color: rgb(177, 210, 255);
  transition-duration: 0.2s;
}

.back {
  position: absolute;
  filter: blur(2px);
  opacity: 0;
}
.backImages {
  width: 90px;
  opacity: 1;
  transition-duration: 0.4s;
  position:relative;
}
.iconMenu {
  opacity: 0;
  align-self: center;
  width: 20%;
  margin:10px;
  margin-left: 15%;
  animation: flotte 5s infinite, appear 5s forwards, fromRight 1s forwards;
  transition-duration: 3s;
  right:-10%;
  justify-self: right;
}
.fromLeft {
  animation: fromLeft 1s forwards, appear 2s forwards;
}
.fromTop{
    animation: fromBottom 1s forwards, appear 2s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromLeft {
  0% {
    left: 5vw;
  }
  100% {
    left: 12vw;
  }
}
@keyframes fromRight {

  100% {
    right: 5%;
  }
}

@keyframes flotte {
  0% {
    width: 310px;
    transform: rotate(1deg);
  }
  70% {
    width: 320px;
    transform: rotate(3deg);
  }
  100% {
    width: 310px;
    transform: rotate(1deg);
  }
}

.lside {
  width: 40vw;
  padding: 20px;

  font-size: 20px;
  /* left:-10vw ; */
  /* opacity: 0; */
  opacity: 1;

  transition-duration: 0.4s;

  margin-bottom: 100px;
  justify-self: left;
}

.circle {
  width: 100%;
  height: 20px;
  margin: auto;
}
.underCircle{
  width: 12px;
  height: 100%;
  border-radius: 50px;
  background-color: rgb(15, 110, 157);
}
.bar {
  width: 5px;
  height: 140px;
  background-color: rgb(122, 199, 238);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.barProgress {
  width: 5px;
  height: 40px;
  background-color: rgb(122, 199, 238);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 5px;

  opacity: 0.5;

  animation: progress 4s infinite;
}

@keyframes progress {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#frise {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
  padding: 40px;
  padding-top: 0;
  border-radius: 20px;
  min-height: 270px;
  overflow: hidden;
  background-color: #d0d0d081;
}
#chronologie {
  margin-right: 30px;
}
#event {
  width: 70%;
}

.travaux {
  list-style: none;
  margin: 30px;
  margin-left: 0;
  background-color: white;
  padding: 20px;
  padding-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 3px;
  position: relative;
  transition-duration: 0.2s;
  animation: 1s fromLeft2 forwards;
  right: 200px;
  opacity: 0;
}
@keyframes fromLeft2 {
  0% {
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
.lside > a > li:hover {
  transition-duration: 0.2s;
  background-color: rgba(240, 240, 240, 0.959);
}
.lside > a {
  text-decoration: none;
  color: black;
}
.headerItems {
  cursor: pointer;
}
.list-heading {
  font-family: "Silkscreen", cursive;
  margin-bottom: 20px;
}
.barLevel {
  width: 100px;
  height: 25px;
  float: right;
  margin-left: 30px;

  border: 1.2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  overflow: hidden;
}
.barLevel::before {
  content: " ";
  height: 24px;

  position: absolute;
  z-index: -1;
  border-radius: 9px 0 0 9px;
}
#htmlcss-barlevel::before {
  background-color: #c0e880;
  width: 84px;
  animation: bar-remplir84 1s linear forwards;
}
#javascript-barlevel::before {
  background-color: #c0e880;
  width: 74px;
  animation: bar-remplir74 1s forwards;
}
#jQuery-barlevel::before {
  background-color: #dfe880;
  width: 53px;
  animation: bar-remplir53 1s linear forwards;
}
#vueJs-barlevel::before {
  background-color: #dfe880;
  width: 60px;
  animation: bar-remplir60 1s forwards;
}
#php-barlevel::before {
  background-color: #dfe880;
  width: 53px;
  animation: bar-remplir53 1s forwards;
}
@keyframes bar-remplir84 {
  0% {
    width: 0px;
  }
  100% {
    width: 84px;
  }
}
@keyframes bar-remplir74 {
  0% {
    width: 0px;
  }
  100% {
    width: 74px;
  }
}
@keyframes bar-remplir53 {
  0% {
    width: 0px;
  }
  100% {
    width: 53px;
  }
}
@keyframes bar-remplir60 {
  0% {
    width: 0px;
  }
  100% {
    width: 60px;
  }
}
.barLevelQuarter {
  width: 25%;
  height: 24px;
  border-right: 0.1px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.last-barLevelQuarter {
  border-right: none;
}
.compUl {
  display: flex;
  flex-direction: column;
}
.compUl > li {
  width: fit-content;
  padding: 10px;
}
#write-bar {
  animation: write-bar 1s infinite;
  color: rgb(0, 0, 0);
}
@keyframes write-bar {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
footer {
  
  padding:20px; 
  width: 100%;
  text-align: center;
}

.screen {
  width: 800px;
  height: 600px;
  position: relative;
  bottom: 50px;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
  text-align: center;
}
#Competences > h1 {
  width: 100%;
}
.competences-lside {
  position: relative;
  height: auto !important;
}
#competences-container{
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff90;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}
.list-competences-container {
  width: 45%;
  margin: 2.5%;
}
.escalier {
  display: none;
}
#mesVeillesList {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#socialMedia_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}
.socialMediaLink {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.socialMediaIcon {
  margin-bottom: 10px;
}
.socialMedias{
    animation:1s fromBottom forwards;
    position:relative;
    top:100px;
    opacity:0;
}
#main{
  width:80%;
  margin: auto;
  display: flex;
  margin-top: 5vh;
}
@keyframes fromBottom {
    100%{
        opacity:1;
        top:0;
    }
}

@media (max-width:1200px) {
  body{
    overflow:scroll;
  }
}

@media (max-height:700px){
  .lside{
    top:0vh;
  }
  body{
    overflow:scroll;
  }
}
@media (max-width:1400px){
  .lside{
    width:70%;
  }
  .iconMenu{
    margin-left: 0;
  }
}
@media (max-width:1200px){
  #main{
    width:90%;
  }
  .iconMenu{
    margin-left: 5%;
    opacity:1;
    animation: none;
    right: 5vw;
    align-self: end;
  }
  .lside:hover{
    width:100%;
  }
}
.headerItems {
  margin-right: 7%;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  }

#menuButton{
  display:none;
  animation: appear 1s forwards;
}
#navItemsContainer{
  transition-duration:1s;
}

@media (max-width:800px){
  .lside{
    margin:auto;
  }
  body{
    min-width: fit-content;
    margin: auto;
    position: relative;
    left: 15px;
  }
  .iconMenu{
    display:none;
  }
  .lside{
    width:100%;
    padding:0px;
  }
  #frise{
    width:90%;
    margin: auto;
    background:none;
    position:relative;
  }
  #event{
    width:80%;
  }
  body{
    padding-top:10vh;
  }
  #app{
    width: 100%;
    justify-content: center;
  }
  #main{
    width:100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10vh;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0vh;
  }
  .socialMediaIcon{
    width:60px;
  }
  header{
    left: 0;
    top: 3vh;
    width:100%;
  }
  #navItemsContainer{
    margin: 0;
    padding:0;
    justify-content: center;
  }
  #menuButton {
    margin-left: 40px;
    font-size: 24px;
    display:block;
    margin-bottom: 0;
  }
  #menuButton:hover + #navItemsContainer{
    display:flex;
  }
  #navItemsContainer:hover{
    display:flex;
  }
  .headerItems{
    padding: 10px;
    margin: 0;
    font-size: .8em;
  }
}
/* }
@media (max-width:400px){
  body{
    padding-top: 0;
  }
  .headerItems{
    font-size: 20px;
  }
  #main{
    margin-top:0vh;
    width:100%;
  }
  .lside{
    padding: 10px;
    margin-bottom: 30px;
  }
  .socialMediaIcon{
    width:50px;
  }
  #socialMedia_list{
    height:auto;
  }
  #competences-container{
    padding:20px;
    background:none;
  }
  .list-competences-container{
    width:100%;
    background: rgba(255, 246, 240, 0.826);
    padding:20px;
    border-radius: 10px;
  }
  .travaux{
    margin-left:auto;
    margin-right:auto;
  }
  .bar{
    height:220px;
  }
  h1{
    font-size: 18px;
  } */
}